@font-face {
  font-family: 'MesloLGS NF';
  src: url('../fonts/MesloLGS NF Regular.woff2') format('woff2'),
    url('../fonts/MesloLGS NF Regular.woff') format('woff'),
    url('../fonts/MesloLGS NF Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MesloLGS NF';
  src: url('../fonts/MesloLGS NF Italic.woff2') format('woff2'),
    url('../fonts/MesloLGS NF Italic.woff') format('woff'),
    url('../fonts/MesloLGS NF Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'MesloLGS NF';
  src: url('../fonts/MesloLGS NF Bold.woff2') format('woff2'),
    url('../fonts/MesloLGS NF Bold.woff') format('woff'),
    url('../fonts/MesloLGS NF Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MesloLGS NF';
  src: url('../fonts/MesloLGS NF Bold Italic.woff2') format('woff2'),
    url('../fonts/MesloLGS NF Bold Italic.woff') format('woff'),
    url('../fonts/MesloLGS NF Bold Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
